<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="robodog"/>
    <arg name="joints_gui" default="false"/>
    <arg name="gazebo" default="false"/>
    <arg name="rviz" default="false"/>
    
    <!-- Load robot description -->
    <include file="$(find robodog_description)/launch/description.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- EKF for sensor fusion -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <rosparam command="load" file="$(find robodog_config)/config/ekf/ekf.yaml"/>
    </node>

    <!-- Velocity commands multiplexer -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find robodog_config)/config/twist/twist.yaml"/>
        <remap from="cmd_vel_out" to="cmd_vel/raw"/>
    </node>

    <!-- Velocity Smoother -->
    <node pkg="nodelet" type="nodelet" name="velocity_smoother_nodelet_manager" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="velocity_smoother" args="load velocity_smoother/VelocitySmootherNodelet velocity_smoother_nodelet_manager">
        <rosparam command="load" file="$(find robodog_config)/config/velocity_smoother/velocity_smoother.yaml"/>
        <remap from="velocity_smoother/raw_cmd_vel" to="cmd_vel/raw"/>
        <remap from="velocity_smoother/smooth_cmd_vel" to="cmd_vel/smooth"/>
        <remap from="velocity_smoother/robot_cmd_vel" to="cmd_vel"/>
        <remap from="velocity_smoother/odometry" to="odom"/>
    </node>

    <!-- Base Controller -->
    <include file="$(find robodog_base)/launch/base.launch">
        <arg name="gazebo" value="$(arg gazebo)"/>
    </include>

    <!-- Joint GUI for testing -->
    <group if="$(arg joints_gui)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    </group>

    <!-- Launch RViz -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robodog_description)/rviz/robot_viz.rviz"/>
    </group>
</launch>