<?xml version="1.0"?>
<launch>
    <!-- Launch main bringup -->
    <include file="$(find robodog_config)/launch/bringup.launch">
        <arg name="rviz" value="true"/>
        <arg name="gazebo" value="true"/>
    </include>

    <!-- Start navigation stack -->
    <include file="$(find robodog_config)/launch/navigate.launch">
        <arg name="rviz" value="false"/> <!-- Already launched by bringup -->
    </include>

    <!-- Load pre-made map if available -->
    <arg name="map" default="$(find robodog_config)/maps/test_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" if="$(eval arg('map') != '')"/>
</launch>