<?xml version="1.0"?>
<launch>
    <!-- Robot spawn pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

    <!-- Load robot description for Gazebo -->
    <param name="robot_description" command="$(find xacro)/xacro $(find robodog_description)/urdf/robodog.urdf.xacro"/>

    <!-- Spawn robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
          args="-urdf 
                -param robot_description 
                -model robodog
                -x $(arg x) 
                -y $(arg y) 
                -z $(arg z)
                -R $(arg roll) 
                -P $(arg pitch) 
                -Y $(arg yaw)
                -J lf_hip_joint 0 
                -J lf_upper_leg_joint 0.5 
                -J lf_lower_leg_joint -1.0
                -J rf_hip_joint 0 
                -J rf_upper_leg_joint 0.5 
                -J rf_lower_leg_joint -1.0
                -J lh_hip_joint 0 
                -J lh_upper_leg_joint 0.5 
                -J lh_lower_leg_joint -1.0
                -J rh_hip_joint 0 
                -J rh_upper_leg_joint 0.5 
                -J rh_lower_leg_joint -1.0"/>
</launch>