<?xml version="1.0" ?>
<robot name="puppy" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ROS2 Control transmission format -->

  <!-- Define ros2_control tag for the robot -->
  <ros2_control name="gazebo_hardware" type="gz_ros2_control/GazeboSimSystem">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      <param name="robot_description">robot_description</param>
      <param name="robot_param_node">robot_state_publisher</param>
    </hardware>

    <!-- ROS2 Control Joint configuration -->
    <xacro:macro name="joint_control" params="joint_name">
      <joint name="${joint_name}">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:macro>

    <!-- Apply control to all joints -->
    <xacro:joint_control joint_name="lf_joint1"/>
    <xacro:joint_control joint_name="lf_joint2"/>
    <xacro:joint_control joint_name="lb_joint1"/>
    <xacro:joint_control joint_name="lb_joint2"/>
    <xacro:joint_control joint_name="rf_joint1"/>
    <xacro:joint_control joint_name="rf_joint2"/>
    <xacro:joint_control joint_name="rb_joint1"/>
    <xacro:joint_control joint_name="rb_joint2"/>
  </ros2_control>
</robot>
