<?xml version="1.0"?>
<launch>
    <!-- Launch main bringup -->
    <include file="$(find robodog_config)/launch/bringup.launch">
        <arg name="rviz" value="true"/>
        <arg name="gazebo" value="true"/>
    </include>

    <!-- Launch keyboard teleop -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen">
        <remap from="cmd_vel" to="cmd_vel/keyboard"/>
        <param name="speed" value="0.2"/>
        <param name="turn" value="0.5"/>
    </node>
</launch>