<!-- Camera node launch file (robot side) -->
<launch>
  <!-- Camera parameters -->
  <arg name="camera_device_id" default="0"/>
  <arg name="frame_rate" default="30"/>
  <arg name="frame_id" default="camera_link"/>
  
  <!-- Launch the camera node -->
  <node name="camera_node" pkg="puppy_camera" type="camera_node.py" output="screen" launch-prefix="bash -c 'sleep 2; $0 $@'">
    <param name="camera_device_id" value="$(arg camera_device_id)"/>
    <param name="frame_rate" value="$(arg frame_rate)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
  </node>
</launch>