<?xml version="1.0"?>
<launch>
  <!-- Set environment variables so Gazebo locates models and worlds within the package -->
  <env name="GAZEBO_MODEL_PATH" value="$(find puppy_description)/models:$GAZEBO_MODEL_PATH"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find puppy_description)/worlds:$GAZEBO_RESOURCE_PATH"/>
  
  <!-- Launch gzserver with your custom world file from the puppy_description package -->
  <node name="custom_gzserver" pkg="gazebo_ros" type="gzserver" output="screen"
        args="$(find puppy_description)/worlds/fetchit_challenge_tests_lowlights.world" />
  
  <!-- Launch gzclient -->
  <node name="custom_gzclient" pkg="gazebo_ros" type="gzclient" output="screen"/>
</launch>
