<?xml version="1.0"?>
<launch>
  <!-- Load the URDF model from the xacro file -->
  <arg name="urdf_file" default="$(find puppy_description)/urdf/puppy.gazebo.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg urdf_file)" />

  <!-- Start the robot state publisher -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
    
  <!-- Load the controllers from the YAML file -->
  <rosparam file="$(find puppy_description)/config/gazebo_control.yaml" command="load"/>

  <!-- Start the controller manager -->
  <node
    name="controller_spawner"
    pkg="controller_manager"
    type="spawner"
    args="joint_state_controller joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller" />

  <!-- Start the joint state publisher GUI -->
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher"
    type="joint_state_publisher_gui" />

  <!-- Launch RViz -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find puppy_description)/rviz/mapping.rviz" />
</launch>
