<?xml version="1.0"?>
<launch>
    <!-- Launch the Gazebo simulation -->
    <include file="$(find puppy_description)/launch/gazebo.launch"/>

    <!-- Launch RViz in a separate window -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puppy_base)/config/debug_view.rviz" output="screen">
        <env name="UBUNTU_MENUPROXY" value="0"/>
        <env name="QT_X11_NO_MITSHM" value="1"/>
    </node>

    <!-- Start the adapted walking script -->
    <node name="adapted_walking_node" pkg="puppy_base" type="adapted_testing.py" output="screen"/>
</launch>