<?xml version="1.0"?>
<launch>
  <!-- Launch Gazebo with the puppy model -->
  <include file="$(find puppy_description)/launch/gazebo_with_urdf.launch"/>
  
  <!-- Arguments -->
  <arg name="controller" default="walking" /> <!-- Options: walking, stand, test -->
  
  <!-- Common parameters -->
  <param name="use_sim_time" value="true" />
  
  <!-- Load state estimation for any controller -->
  <include file="$(find puppy_base)/launch/state_estimation.launch" />
  
  <!-- Launch the selected controller -->
  <group if="$(eval controller == 'walking')">
    <node name="walking_controller" pkg="puppy_base" type="walking.py" output="screen" />
  </group>
  
  <group if="$(eval controller == 'stand')">
    <node name="stand_controller" pkg="puppy_base" type="stand_up.py" output="screen" />
  </group>
  
  <group if="$(eval controller == 'test')">
    <node name="test_controller" pkg="puppy_base" type="test_controller.py" output="screen" />
  </group>
</launch>