<?xml version="1.0"?>
<launch>
  <!-- Load robot description parameter -->
  <include file="$(find puppy_description)/launch/gazebo.launch">
    <arg name="gui" value="true"/>
  </include>
  
  <!-- Start the stand_up controller -->
  <node name="stand_up_controller" pkg="puppy_base" type="stand_up.py" output="screen" />
</launch>