<?xml version="1.0"?>
<launch>
  <!-- Load robot description parameter -->
  <include file="$(find puppy_description)/launch/gazebo.launch">
    <arg name="gui" value="true"/>
  </include>
  
  <!-- Start state estimation -->
  <include file="$(find puppy_base)/launch/state_estimation.launch" />
  
  <!-- Start the walking controller -->
  <node name="walking_controller" pkg="puppy_base" type="walking.py" output="screen" />
</launch>