<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
    </material>
    
    <material name="silver">
        <color rgba="0.7 0.7 0.7 1.0"/>
    </material>

    <xacro:macro name="leg" params="name xyz rpy mirror">
        <!-- Hip Joint and Link -->
        <joint name="${name}_hip_joint" type="revolute">
            <parent link="base_link"/>
            <child link="${name}_hip_link"/>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <axis xyz="0 1 0" />
            <limit lower="-${pi/4}" upper="${pi/4}" effort="${joint_effort_limit}" velocity="${joint_velocity_limit}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${name}_hip_link">
            <visual>
                <origin xyz="0 ${mirror * hip_width/2} 0" rpy="0 0 0" />
                <geometry>
                    <box size="${hip_length} ${hip_width} ${hip_height}" />
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 ${mirror * hip_width/2} 0" rpy="0 0 0" />
                <geometry>
                    <box size="${hip_length} ${hip_width} ${hip_height}" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 ${mirror * hip_width/2} 0" rpy="0 0 0" />
                <mass value="${hip_mass}" />
                <inertia ixx="${(1/12) * hip_mass * (hip_width*hip_width + hip_height*hip_height)}" 
                         ixy="0.0" ixz="0.0"
                         iyy="${(1/12) * hip_mass * (hip_length*hip_length + hip_height*hip_height)}" 
                         iyz="0.0"
                         izz="${(1/12) * hip_mass * (hip_length*hip_length + hip_width*hip_width)}" />
            </inertial>
        </link>

        <!-- Upper Leg Joint and Link -->
        <joint name="${name}_upper_leg_joint" type="revolute">
            <parent link="${name}_hip_link"/>
            <child link="${name}_upper_leg_link"/>
            <origin xyz="0 ${mirror * hip_width} 0" rpy="0 0 0" />
            <axis xyz="1 0 0" />
            <limit lower="-${pi/2}" upper="${pi/2}" effort="${joint_effort_limit}" velocity="${joint_velocity_limit}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${name}_upper_leg_link">
            <visual>
                <origin xyz="0 0 -${upper_leg_length/2}" rpy="0 0 0" />
                <geometry>
                    <box size="${upper_leg_width} ${upper_leg_height} ${upper_leg_length}" />
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 -${upper_leg_length/2}" rpy="0 0 0" />
                <geometry>
                    <box size="${upper_leg_width} ${upper_leg_height} ${upper_leg_length}" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 -${upper_leg_length/2}" rpy="0 0 0" />
                <mass value="${upper_leg_mass}" />
                <inertia ixx="${(1/12) * upper_leg_mass * (upper_leg_height*upper_leg_height + upper_leg_length*upper_leg_length)}" 
                         ixy="0.0" ixz="0.0"
                         iyy="${(1/12) * upper_leg_mass * (upper_leg_width*upper_leg_width + upper_leg_length*upper_leg_length)}" 
                         iyz="0.0"
                         izz="${(1/12) * upper_leg_mass * (upper_leg_width*upper_leg_width + upper_leg_height*upper_leg_height)}" />
            </inertial>
        </link>

        <!-- Lower Leg Joint and Link -->
        <joint name="${name}_lower_leg_joint" type="revolute">
            <parent link="${name}_upper_leg_link"/>
            <child link="${name}_lower_leg_link"/>
            <origin xyz="0 0 -${upper_leg_length}" rpy="0 0 0" />
            <axis xyz="1 0 0" />
            <limit lower="0" upper="${pi}" effort="${joint_effort_limit}" velocity="${joint_velocity_limit}" />
            <dynamics damping="${joint_damping}" friction="${joint_friction}" />
        </joint>

        <link name="${name}_lower_leg_link">
            <visual>
                <origin xyz="0 0 -${lower_leg_length/2}" rpy="0 0 0" />
                <geometry>
                    <box size="${lower_leg_width} ${lower_leg_height} ${lower_leg_length}" />
                </geometry>
                <material name="silver"/>
            </visual>
            <collision>
                <origin xyz="0 0 -${lower_leg_length/2}" rpy="0 0 0" />
                <geometry>
                    <box size="${lower_leg_width} ${lower_leg_height} ${lower_leg_length}" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 -${lower_leg_length/2}" rpy="0 0 0" />
                <mass value="${lower_leg_mass}" />
                <inertia ixx="${(1/12) * lower_leg_mass * (lower_leg_height*lower_leg_height + lower_leg_length*lower_leg_length)}" 
                         ixy="0.0" ixz="0.0"
                         iyy="${(1/12) * lower_leg_mass * (lower_leg_width*lower_leg_width + lower_leg_length*lower_leg_length)}" 
                         iyz="0.0"
                         izz="${(1/12) * lower_leg_mass * (lower_leg_width*lower_leg_width + lower_leg_height*lower_leg_height)}" />
            </inertial>
        </link>

        <!-- Foot joint and link -->
        <joint name="${name}_foot_joint" type="fixed">
            <parent link="${name}_lower_leg_link"/>
            <child link="${name}_foot_link"/>
            <origin xyz="0 0 -${lower_leg_length}" rpy="0 0 0" />
        </joint>

        <link name="${name}_foot_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="0.01" />
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="0.01" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.01" />
                <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
            </inertial>
        </link>
    </xacro:macro>
</robot>